<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name=".login.TouristPoliceReg"
            android:exported="false" />
        <activity
            android:name=".hotelOwner.AdSuccess"
            android:exported="false" />
        <activity
            android:name=".login.HotelOwnerReg"
            android:exported="false" />
        <activity
            android:name=".tourist.tourist_home"
            android:exported="false" />
        <activity
            android:name=".login.userSelect"
            android:exported="false" />
        <activity
            android:name=".login.touristReg"
            android:exported="false" />
        <activity
            android:name=".login.startup"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".login.login"
            android:exported="false">

        </activity>
    </application>

</manifest>